* {
  box-sizing: border-box;
}

body {
  background-color: hsl(25, 85.5%, 68.6%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.modal {
  height: 80vh;
  width: 900px;
  max-width: 80%;
  background-color: #12D4E6;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 0 1rem;
  border-bottom: 2px solid #008C99;
  padding-bottom: .5rem;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 1.5rem;
  padding-top: 1rem;
  color: white;
}
.close-button {
  background: none;
  border: none;
  font-size: 1.75rem;
  font-weight:400;
  margin: 0;
  padding: 0;
  cursor: pointer;
  align-self: flex-start;
  padding-top: .5rem;
  color: #008C99;
}

.body {
  background-color: hsl(185, 85.5%, 72.6%);
  flex-grow: 1;
  overflow: auto;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: .5rem;
  border-top: 2px solid #008C99; 
}

.footer .btn {
  margin-right: .5rem;
}

.footer .btn:last-child {
  margin-right: initial;
}

.btn {
  padding: .3rem .7rem;
  font-size: inherit;
  border-radius: .3em;
  border: none;
  background-color: #12D4E6;
  color: hsl(185, 85.5%, 48.6%);
  cursor: pointer;
}

.btn.btn-primary{
  background-color:hsl(185, 85.5%, 38.6%);
  color: white;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
  color: hsl(185, 85.5%, 38.6%);
  background-color: white;
}

.btn.btn-danger {
  background-color: hsl(25, 85.5%, 58.6%);
  color: white;
}

.btn.btn-danger:hover,
.btn.btn-danger:focus {
  color: hsl(25, 85.5%, 48.6%);
  background-color: white;
}
